<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Article</title>
</head>
<body>
    <%= render 'form', page_title: @page_title, btn_name: @btn_name %>
</body>
</html>
